@model IEnumerable<Zenxu.Data.Entities.Property>

@if(Model is object)
{
    foreach (var propeety in Model)
    {
        <h1>@propeety.Title</h1>
        <hr/>
        <p>@propeety.Price</p>
    }
}